{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-3">
        <div class="card card-dashboard p-4">
            <h5>Estudiantes</h5>
            <h2>{{ total_estudiantes }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-dashboard p-4">
            <h5>Profesores</h5>
            <h2>{{ total_profesores }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-dashboard p-4">
            <h5>Materias</h5>
            <h2>{{ total_materias }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-dashboard p-4">
            <h5>Grupos</h5>
            <h2>{{ total_grupos }}</h2>
        </div>
    </div>

</div>

{% endblock %}